<div class="header">
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <!-- <h1>Cadastro de veiculos via consulta FIPE.</h1> -->
    <div style="display: flex; gap: 10px;">
      <button mat-stroked-button color="primary" (click)="handleRedirectToConsultaFIPE()">
        Consultar FIPE
      </button>
      <button mat-stroked-button color="primary" (click)="handleRedirectToConsultaVeiculoCadatro()">
        Consultar Veiculo Cadastrado
      </button>
    </div>
  </div>
</div>
